.profile {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #595859;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

.user {
  display:flex;
  justify-content: center;
  color: #ffffff
}

@media only screen and (min-width: 768px) {

  .profile {
    display:inline-flex;
    margin-top: 8.5em;
    margin-right: 4em;
    margin-left: 2em;
    height: 430px;
    width: 70%;
    background-color: #595859;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  }

}

