.container {
  width: 90%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
}

.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.button {
  display: flex;
  font-family: 'Bungee', cursive;;
  color: #2d2d2d;
  background-color: transparent;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 22px;
  padding: 0.3em 0em;
  padding-bottom: 2em;
}

button {
  color: rgb(255, 255, 255);
  background-color: #1d7bad;
}

textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  background-color: transparent;
  border-bottom: 4px black solid;

}
